
.board-row {
    display: flex;
    flex-direction: row;
    width: 25%;
}

.board-column {
    display:flex;
    flex-direction: column;
    flex: 1;  
}

.cell {
    background-color: white;
    border:1px solid #999;
    padding: 10;
    text-align: center;

}

.ship {
    background-color: green;
}

.shiphit {
    background-color: red;
}

.miss {
    background-color: yellow;
}
